<!-- <h2>{{heros.name| uppercase }}</h2> 
        -- doppia {{}} fa il bind della variabile ,
            quindi la stampa di una variabile contenuta nel file.ts
            | è una pipe, funzione che si può utilizzare in html mettendo il simbolo | e poi la funzione 

<div><span>id: </span>{{heros.id}}</div> -->

<!--
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="heroes.name" placeholder="name">

          [(ngModel)] fa parte di un modulo(contenitore di servizi/componenti/direttive..etc) non nativo di angular
            serve per fare in two-ways binding 
</div>

 <div *ngFor="let x of values">
    <h1>Value: {{x}}</h1>
</div> Va a prendere i valori dell'array values -->

<h2>My Heroes</h2>
<ul class="heroes">

    <li *ngFor="let hero of heroes">
        <button [class.selected]="hero === selectedHero" type=" button " (click)="onSelect(hero) ">
      <span class="badge ">{{hero.id}}</span>
      <span class="name ">{{hero.name}}</span>
    </button>
    </li>
</ul>

<div *ngIf="selectedHero ">

    <!-- ngi fserve per stampare un pezzo di html in base ad una condizione
        ad esempio  <div *ngIf="selectedHero !=u ndefined " > stampa se selected hero è diverso da undefined !-->

    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>id: {{selectedHero.id}}</div>

    <div>
        <label for="hero-name ">Hero name: </label>
        <input id="hero-name " [(ngModel)]="selectedHero.name " placeholder="name ">
    </div>
</div>

<!-- [class.selected]="..una condizione che deve valere true or false.. " modo dinamico per aggiungere o togliere una classe, quando true aggiunge la classe(selected), quando false la rimuove!-->